@charset "UTF-8";
html {
  height: 100%; }

body {
  font-family: "EB Garamond", "A1MinchoStd-Bold", "Shuuei5Std-Light", "游明朝体", "Yu Mincho", "YuMin-Medium", YuMincho, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  height: 100%;
  line-height: 2;
  letter-spacing: 0.5px;
  padding: 30px;
  color: black;
  box-sizing: border-box; }

#container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.clearfix:after {
  content: ".";
  /* 新しいコンテンツ */
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  /* 非表示に */ }

.wrapper {
  width: 940px;
  margin: 0 auto;
  position: relative;
  min-height: 100%; }

.gnav {
  position: absolute;
  top: 0;
  right: 0; }
  .gnav li {
    display: inline-block;
    float: left;
    text-align: right;
    margin: 0 20px 0 0; }
    .gnav li:last-child {
      margin: 0; }

a {
  color: #000000;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

section p a {
  color: #999999; }

p {
  font-size: 16px;
  font-weight: normal; }

strong {
  background: linear-gradient(transparent 60%, #ffff66 60%); }

em {
  background: linear-gradient(transparent 60%, #d7f5ff 60%); }

ul {
  list-style: none;
  padding: 0; }

li {
  font-size: 14px;
  font-weight: normal; }

header {
  margin: 90px 0 120px; }
  header h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0 0;
    line-height: 1.5em; }
  header h2 {
    font-size: 10px;
    font-weight: 400;
    padding: 0 0 0 0;
    line-height: 12px;
    margin: 0px 0 0 0px; }

.breadcrumb {
  margin: 0 0 40px 0;
  font-size: 10px;
  letter-spacing: .5px;
  list-style: none; }
  .breadcrumb:after {
    content: ".";
    /* 新しいコンテンツ */
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    /* 非表示に */ }
  .breadcrumb li {
    padding: 0 0 0 0;
    display: block;
    float: left; }
    .breadcrumb li:before {
      content: " » ";
      float: left;
      padding: 0 8px;
      display: block; }
    .breadcrumb li:first-child:before {
      display: none; }

.content section li {
  margin-left: 20px;
  list-style: circle; }

.content section pre ol li {
  margin-left: 0;
  list-style: decimal; }

section {
  margin: 0 0 120px 0; }
  section:last-child {
    padding-bottom: 250px; }
  section.gridsystem {
    display: -webkit-flex;
    display: flex; }
    section.gridsystem .titlegrid {
      -webkit-flex: 1;
      flex: 1; }
    section.gridsystem .contentgrid {
      -webkit-flex: 2;
      flex: 2; }
  section .snippets-container h2 {
    font-size: 20px; }
  section .snippets-container .snippets-grid {
    display: block;
    float: left;
    width: 25%; }
  section .snippets-container:after {
    content: ".";
    /* 新しいコンテンツ */
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    /* 非表示に */ }
  section h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 0 0 40px 0;
    line-height: 74px; }
  section.entry p {
    font-size: 20px; }
  section.entry blockquote, section.entry li {
    font-size: 16px; }
  section.entry .entrydate {
    font-size: 14px; }
  section .tags {
    text-align: right;
    margin: 10px 0 40px 0; }
    section .tags li {
      line-height: 1;
      list-style: none;
      display: inline-block;
      font-size: 12px; }
  section h2 {
    font-size: 12px;
    font-weight: normal; }
  section h3 {
    font-size: 14px; }
  section blockquote {
    margin: 1em 0 1em 0;
    border-left: 1px solid black;
    padding: 0 0 0 10px; }
  section p.entrydate {
    float: left;
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 1; }

pre {
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  overflow-x: scroll; }
  pre li {
    font-size: 12px; }

.accordionicon {
  display: none;
  float: right;
  margin: -5px 0 0 0;
  padding: 0 0 0 10px; }
  .accordionicon i {
    font-size: 12px; }

footer {
  display: -webkit-flex;
  display: flex;
  margin: 40px 0 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 220px; }
  footer li {
    display: inline-block;
    padding: 0 10px 0 0;
    font-size: 12px; }
  footer h2 {
    font-size: 12px;
    font-weight: normal; }
  footer .grid {
    -webkit-flex: 1;
    flex: 1; }

#post-2 .entry-header {
  display: none; }

#social-container > div {
  float: left;
  display: inline-block;
  padding: 0 10px 0 0; }

.button {
  border: 1px solid #000;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  cursor: pointer; }
  .button:hover {
    background-color: #f2f2f2; }

table {
  width: 100%;
  border: none;
  border-spacing: 0;
  border-top: solid 1px #E4E4E4;
  border-collapse: collapse; }

tr {
  border-bottom: solid 1px #DCDCDC;
  box-sizing: border-box;
  background-color: #F7F7F7;
  height: auto; }
  tr:nth-child(2n) {
    background-color: transparent; }

td {
  padding: 3px;
  vertical-align: top; }

@media screen and (max-width: 760px) {
  .gnav {
    position: relative;
    padding: 20px 0 40px 0; }
  .gnav, footer {
    position: relative;
    display: block; }
  header {
    margin: 0 0 20px; }
  .wrapper {
    width: 100%; }
  footer {
    position: relative;
    display: block;
    border-top: 1px dotted black;
    padding: 40px 0 0 0;
    height: auto; }
    footer .grid {
      width: auto;
      float: none; }
    footer:after {
      content: ".";
      /* 新しいコンテンツ */
      display: block;
      clear: both;
      height: 0;
      visibility: hidden;
      /* 非表示に */ }
  section {
    padding-bottom: 0;
    margin: 0 0 40px 0; }
    section:last-child {
      padding-bottom: 0; }
    section h1 {
      font-size: 28px;
      line-height: 36px;
      margin: 0 0 40px 0; }
    section p, section blockquote {
      font-size: 14px; }
    section.entry p, section.entry blockquote, section.entry li {
      font-size: 14px; }
    section.entry .entrydate {
      font-size: 14px; }
    section img {
      max-width: 100%;
      height: auto; }
    section .snippets-container {
      display: block; }
      section .snippets-container .snippets-grid {
        display: block;
        float: none;
        width: auto; }
        section .snippets-container .snippets-grid h2 {
          cursor: pointer; }
        section .snippets-container .snippets-grid h3 {
          display: none; }
        section .snippets-container .snippets-grid ul {
          display: none; }
        section .snippets-container .snippets-grid .accordionicon.minus {
          display: none; }
        section .snippets-container .snippets-grid .accordionicon.plus {
          display: inline; }
        section .snippets-container .snippets-grid.open h3 {
          display: block; }
        section .snippets-container .snippets-grid.open ul {
          display: block; }
        section .snippets-container .snippets-grid.open .accordionicon.minus {
          display: inline; }
        section .snippets-container .snippets-grid.open .accordionicon.plus {
          display: none; }
      section .snippets-container:after {
        content: none;
        clear: none;
        height: auto; }
    section li {
      line-height: 24px; }
    section h2 {
      background-color: black;
      line-height: 1px;
      margin: 40px 0; }
      section h2 span {
        background-color: white;
        padding: 0 10px 0 0; }
    section.gridsystem {
      display: block; }
    section .iframe-container {
      position: relative;
      width: 100%;
      padding: 56.2% 0 0;
      border: 1px solid #2D2D2D;
      border-radius: 3px;
      overflow: hidden;
      box-sizing: border-box; }
      section .iframe-container iframe {
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  td {
    font-size: 14px; } }
