html {
	height: 100%;
}
body {
    font-family: "EB Garamond", "游明朝体", "Yu Mincho", "YuMin-Medium", YuMincho, serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
	height: 100%;
	
    padding: 30px;
    color: black;
    box-sizing: border-box;
}
pre {
	font-family: 'Source Code Pro', monospace;
}
#container {
	position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.clearfix:after {
    content: ".";  /* 新しいコンテンツ */
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; /* 非表示に */
}
.wrapper {
	width: 940px;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
}
.gnav {
	position: absolute;
	top: 0;
	right: 0;
	
	li {
		display: inline-block;
		float: left;
		text-align: right;
		margin: 0 20px 0 0;
		
		&:last-child {
			margin: 0;
		}
	}
}
a {
	color: #494949;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
p {
	font-size: 16px;
	font-weight: normal;
}
ul {
	list-style: none;
	padding: 0;
	
}
li {
	font-size: 14px;
	font-weight: normal;
}
header {
    margin: 0 0 40px 0;
    
	h1 {
		font-size: 20px;
		font-weight: normal;
	}
	h2 {
		font-size: 10px;
		font-weight: normal;
	}
	
}
.breadcrumb {
	margin: 0 0 40px 0;
    font-size: 10px;
    letter-spacing: .5px;
    line-height: 15px;
    list-style: none;
    &:after {
	    
    content: ".";  /* 新しいコンテンツ */
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; /* 非表示に */
    
    }
	li {
		padding: 0 0 0 0;
		display: block;
		float: left;
		
		&:after {
			content: " » ";
			float: left;
			padding: 0 8px;
			display: block;
// 			width: 6px;
// 			height: 15px;
		}
		&:first-child {
			&:after {
				display: none;
			}
		}
	}
}
section {
	margin: 40px 0 0 0;
	&:last-child {
		padding-bottom: 250px;
	}
	
	&.gridsystem {
		display: -webkit-flex;
		display: flex;
		.titlegrid {
			-webkit-flex: 1;
			flex: 1;
		}
		.contentgrid {
			-webkit-flex: 2;
			flex: 2;
		}
	}
	.snippets-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap; /* Safari */
		flex-wrap:         wrap;
		.grid {
			-webkit-flex: 1;
			flex: 1;
		}
	}

	h1 {
		font-size: 48px;
		font-weight: normal;
	    margin: 0 0 10px 0;
	}
	h2 {
		font-size: 12px;
		font-weight: normal;
	}
	
	
}
footer {
	display: -webkit-flex;
	display: flex;
    margin: 40px 0 0 0;
    position:absolute;
	bottom:0;
	width: 100%;
	height: 220px;
	
	h2 {
		font-size: 12px;
		font-weight: normal;
	}
	.grid {
		-webkit-flex: 1;
		flex: 1;
	}
}



@media screen and (max-width:760px) {
	
.gnav {
	position: relative;
    padding: 20px 0 40px 0;
}
.gnav, footer {
	position: relative;
	display: block;
}
header {
	margin: 0 0 20px;
}
.wrapper {
	width: 100%;
}
footer {
	position: relative;
	display: block;
	border-top: 1px dashed black;
	padding: 40px 0 0 0;
	.grid {
		width: 50%;
		float: left;
	}
}
.breadcrumb {
	line-height: 24px;
}
.tags {
	text-align: right;
	margin: 10px 0 40px 0;
}
section {
	padding-bottom: 0;
	h1 {
		font-size: 28px;
		line-height: 36px;
		margin: 0 0 40px 0;
	}
	p {
		font-size: 14px;
	}
	img {
		width: 100%;
		
	}
	.snippets-container {
		display: block;
	}
	li {
	    line-height: 24px;
	}
	h2 {
		background-color: black;
		line-height: 1px;
		margin: 40px 0;
		span {
			background-color: white;
			padding: 0 10px 0 0;
		}
	}
	&.gridsystem {
		display: block;
		
	}
}

}