html {
	height: 100%;
}
body {
    font-family: "EB Garamond", "游明朝体", "Yu Mincho", "YuMin-Medium", YuMincho, serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
	height: 100%;
	
    padding: 30px;
    color: black;
    box-sizing: border-box;
}
#container {
	position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.clearfix:after {
    content: ".";  /* 新しいコンテンツ */
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; /* 非表示に */
}
.wrapper {
	width: 940px;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
}
.gnav {
	position: absolute;
	top: 0;
	right: 0;
	
	li {
		display: inline-block;
		float: left;
		text-align: right;
		margin: 0 20px 0 0;
		
		&:last-child {
			margin: 0;
		}
	}
}
a {
	color: #000000;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.section p a {
    color: #999999;
}
p {
	font-size: 16px;
	font-weight: normal;
}
strong {
    background: linear-gradient(transparent 60%, #ffff66 60%);
}
em {
    background: linear-gradient(transparent 60%, #d7f5ff 60%);
}

ul {
	list-style: none;
	padding: 0;
	
}
li {
	font-size: 14px;
	font-weight: normal;
}
header {
    margin: 0 0 40px 0;
    
	h1 {
		font-size: 20px;
		font-weight: normal;
	}
	h2 {
		font-size: 10px;
		font-weight: normal;
	}
	
}
.breadcrumb {
	margin: 0 0 40px 0;
    font-size: 10px;
    letter-spacing: .5px;
    line-height: 15px;
    list-style: none;
    &:after {
        content: ".";  /* 新しいコンテンツ */
        display: block;
        clear: both;
        height: 0;
        visibility: hidden; /* 非表示に */
    
    }
	li {
		padding: 0 0 0 0;
		display: block;
		float: left;
		
		&:before {
			content: " » ";
			float: left;
			padding: 0 8px;
			display: block;
// 			width: 6px;
// 			height: 15px;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}
section {
	margin: 40px 0 0 0;
	&:last-child {
		padding-bottom: 250px;
	}
	
	&.gridsystem {
		display: -webkit-flex;
		display: flex;
		.titlegrid {
			-webkit-flex: 1;
			flex: 1;
		}
		.contentgrid {
			-webkit-flex: 2;
			flex: 2;
		}
	}
	.snippets-container {
    	h2 {
        	font-size:20px;
        	
    	}
    	.snippets-grid {
        	display: block;
        	float: left;
        	width: 25%;
    	}
    	
    	&:after {
            content: ".";  /* 新しいコンテンツ */
            display: block;
            clear: both;
            height: 0;
            visibility: hidden; /* 非表示に */
    	}
	}
	h1 {
		font-size: 48px;
		font-weight: normal;
	    margin: 0 0 40px 0;
	    line-height: 74px;
	}
    .tags {
    	text-align: right;
    	margin: 10px 0 40px 0;
    }
	h2 {
		font-size: 12px;
		font-weight: normal;
	}
	h3 {
        font-size: 14px;
    }
}
pre {
	font-family: 'Inconsolata', monospace;
	font-size:12px;
    line-height: 1.5;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    li {
        font-size: 12px;
    }
}
.accordionicon {
    display: none;
    float: right;
    margin: -5px 0 0 0;
    padding: 0 0 0 10px;
    i {
        font-size: 12px;
    }
}
footer {
	display: -webkit-flex;
	display: flex;
    margin: 40px 0 0 0;
    position:absolute;
	bottom:0;
	width: 100%;
	height: 220px;
	
	h2 {
		font-size: 12px;
		font-weight: normal;
	}
	.grid {
		-webkit-flex: 1;
		flex: 1;
	}
}
#post-2 .entry-header { display: none; }
#social-container > div {
    float: left;
    display: inline-block;
    padding: 0 10px 0 0;
}
.button {
    border: 1px solid #000;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    &:hover {
        background-color: #f2f2f2;
    }
}
table {
    width: 100%;
    border: none;
    border-spacing: 0;
    border-top: solid 1px #E4E4E4;
    border-collapse: collapse;
}
tr {
    border-bottom: solid 1px #DCDCDC;
    box-sizing: border-box;
    background-color: #F7F7F7;
    height: auto;
    &:nth-child(2n) {
        background-color: transparent;
    }
}
td {
    padding: 3px;
    vertical-align: top;
}

@media screen and (max-width:760px) {

.gnav {
	position: relative;
    padding: 20px 0 40px 0;
}
.gnav, footer {
	position: relative;
	display: block;
}
header {
	margin: 0 0 20px;
}
.wrapper {
	width: 100%;
}
footer {
	position: relative;
	display: block;
	border-top: 1px dashed black;
	padding: 40px 0 0 0;
	height: auto;
	.grid {
		width: 50%;
		float: left;
	}
	&:after {
        content: ".";  /* 新しいコンテンツ */
        display: block;
        clear: both;
        height: 0;
        visibility: hidden; /* 非表示に */
	}
}
.breadcrumb {
	line-height: 24px;
}
section {
	padding-bottom: 0;
	&:last-child {
		padding-bottom: 0;
	}
	h1 {
		font-size: 28px;
		line-height: 36px;
		margin: 0 0 40px 0;
	}
	p {
		font-size: 14px;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.snippets-container {
		display: block;
		
		
    	.snippets-grid {
        	display: block;
        	float: none;
        	width: auto;
        	h2 {
            	cursor: pointer;
        	}
        	h3 {
            	display: none;
        	}
        	ul {
            	display: none;
        	}
        	.accordionicon {
            	&.minus {
                	display: none;
            	}
            	&.plus {
                	display: inline;
            	}
        	}
        	&.open {
            	h3 {
                	display: block;
            	}
            	ul {
                	display: block;
            	}
            	.accordionicon {
                	&.minus {
                    	display: inline;
                	}
                	&.plus {
                    	display: none;
                	}
            	}
        	}
    	}
    	&:after {
        	content: none;
        	clear: none;
        	height: auto;
    	}
	}
	li {
	    line-height: 24px;
	}
	h2 {
		background-color: black;
		line-height: 1px;
		margin: 40px 0;
		span {
			background-color: white;
			padding: 0 10px 0 0;
		}
	}
	&.gridsystem {
		display: block;
		
	}
}
td {
    font-size: 14px;
}


}
