@media screen and (max-width:760px) {

body {
  padding: 20px;
}
.btn-fullscreen {
    display: none;
}
.gnav {
	position: relative;
  top: 0;
  padding: 0 0 30px 0;
  li {
    margin: 0 16px 0 0;
  }
}
.gnav, footer {
	position: relative;
	display: block;
}
header {
  margin: 0 0 30px;
}
.wrapper {
	width: 100%;
	padding: 0;
}
footer {
	position: relative;
	display: block;
	border-top: 1px dotted black;
	padding: 40px 0 0 0;
	height: auto;
	.grid {
		width: auto;
		float: none;
	}
	&:after {
        content: ".";  /* 新しいコンテンツ */
        display: block;
        clear: both;
        height: 0;
        visibility: hidden; /* 非表示に */
	}
}
section {
	padding-bottom: 0;
  margin: 0 0 40px 0;
	&:last-child {
		padding-bottom: 0;
	}
	h1 {
		font-size: 28px;
		line-height: 36px;
		margin: 0 0 40px 0;
	}
	&:first-child {
  	h1 {
      padding: 30px 0 0 0;
    }
	}
	p, blockquote {
		font-size: 14px;
	}
	&.entry {
    	p, blockquote, li {
            font-size: 14px;
    	}
        .entrydate {
            font-size: 14px;
        }
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.snippets-container {
		display: block;
		
		
    	.snippets-grid {
        	display: block;
        	float: none;
        	width: auto;
        	h2 {
            	cursor: pointer;
        	}
        	h3 {
            	display: none;
        	}
        	ul {
            	display: none;
        	}
        	.accordionicon {
            	&.minus {
                	display: none;
            	}
            	&.plus {
                	display: inline;
            	}
        	}
        	&.open {
            	h3 {
                	display: block;
            	}
            	ul {
                	display: block;
            	}
            	.accordionicon {
                	&.minus {
                    	display: inline;
                	}
                	&.plus {
                    	display: none;
                	}
            	}
        	}
    	}
    	&:after {
        	content: none;
        	clear: none;
        	height: auto;
    	}
	}
	li {
	    line-height: 24px;
	}
	h2 {
		background-color: black;
		line-height: 1px;
		margin: 40px 0;
		span {
			background-color: white;
			padding: 0 10px 0 0;
		}
	}
	&.gridsystem {
		display: block;
		
	}
    .iframe-container {
        position: relative;
        width: 100%;
        padding: 56.2% 0 0;
        border: 1px solid #2D2D2D;
        border-radius: 3px;
        overflow: hidden;
        box-sizing: border-box;

        iframe {
            margin: 0 auto;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%
        }
    }
}
td {
    font-size: 14px;
}
.entry-list-item {
    width: auto;
    float: none;
    margin: 50px 0 0 0;
    height: auto;
    
    &:nth-child(3n) {
        margin: 50px 0 0 0;
    }
    h1 {
        font-size: 26px;
        line-height: 1.4;
        margin: 0 0 10px 0;
    }
}
.entry-list-item-image {
    height: 100px;
}
.entry-list-item-content {
    margin: 10px 0;
    
}
section {

    &:first-child {
        .entry-list-item {
            h1 {
                padding: 0;
            }
        }
    }
     .entry-list-item {
        
        p {
            &.entrydate {
                position: inherit;
                bottom: auto;
            }
        }
        ul {
            &.tags {
                position: inherit;
                bottom: auto;
                width: auto;
                right: auto;
            }
        }
    }
}

}